<link rel="stylesheet" type="text/css" href="/CSS/partials/footer.css">  
<footer>
    <nav id="footer-nav">
        <ul id="footer-ul">
            <li><a href="#">關於 STYLiSH</a></li>
            <li>|</li>
            <li><a href="#">服務條款</a></li>
            <li>|</li>
            <li><a href="#">隱私政策</a></li>
            <li>|</li>
            <li><a href="#">聯絡我們</a></li>
            <li>|</li>
            <li><a href="#">FAQ</a></li>
        </ul>
        <div id="footer-contact-info-container">
            <div><a href="#"><img src="/icons/line.png"></a></div>
            <div><a href="#"><img src="/icons/twitter.png"></a></div>
            <div><a href="#"><img src="/icons/facebook.png"></a></div>
        </div>
        <div id="footer-copyright">&copy; 2023 All rights reserved</div>
    </nav>
</footer>