<link rel="stylesheet" type="text/css" href="/CSS/partials/header.css">  
<header>
    <nav id="header-nav">
        <div id="logo"><a href="/"><img src="/icons/logo.png"></a></div>
        <ul id="header-ul">
            <li><a href="/?category=women">女&nbsp&nbsp&nbsp&nbsp裝</a></li>
            <li>|</li>
            <li><a href="/?category=men">男&nbsp&nbsp&nbsp&nbsp裝</a></li>
            <li>|</li>
            <li><a href="/?category=accessories">配&nbsp&nbsp&nbsp&nbsp件</a></li>
        </ul>
        <div id="nav-search">
            <input type="text" placeholder="Search" id="nav-search-input">
            <img src="/icons/search.png" id="nav-search-img">
        </div>
        <div id="nav-cart"><a href="/checkout"><img src="/icons/cart.png" id="nav-cart-img"></a></div>
        <div id="nav-profile"><a href="/profile"><img src="/icons/member.png"></a></div>
    </nav>
</header>