<title>STYLiSH</title>
<link rel="stylesheet" type="text/css" href="/CSS/pages/index.css">  

<section id="campaign-section">
    <div id="campaign-figure-container">
        <figure id="campaign-figure">
            <img id="campaign-img">
            <figcaption id="campaign-caption"></figcaption>
        </figure>              
    </div>
</section>

<section id="product-section"></section>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/JavaScript/pages/index.js"></script>