<title>STYLiSH - 會員中心</title>
<link rel="stylesheet" type="text/css" href="/CSS/pages/profile.css">      

<div id="welcome"></div>
<main id="profile-container"></main>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/JavaScript/pages/profile.js"></script>